<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <titleBukee</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
</head>

<body>
    <div class="page-main">
        <header>
            <div class="header">
                <a href="" class="header__logo"></a>
                <ul class="header-list">
                    <li class="header-list__item">Home</li>
                    <li class="header-list__item">About</li>
                    <li class="header-list__item">Contents</li>
                    <li class="header-list__item">Books</li>
                    <li class="header-list__item">Education</li>
                    <li class="header-list__item">Skills</li>
                    <li class="header-list__item">Portfolio</li>
                    <li class="header-list__item">Clients</li>
                    <li class="header-list__item">Contsct</li>
                </ul>
            </div>
        </header>
        <div class="wrap">
            <div class="block-book">
                <div></div>
                <div class="block-text">
                    <p class="block-text__name">By Emma Anderson</p>
                    <h1 class="block-text__title">BUKEE: THE BOOK <span>A room without books is like a body without a soul</span></h1>
                    <p>Opisanie book</p>
                    <p>Ochen intersniy book</p>
                    <a href="block-text__btn">Buy this book - $15.00</a>
                    <small>* Some conditions may applicable</small>
                </div>
            </div>
        </div>
    </div>
    <div class="page">
        <div class="wrap">
            <div class="class-author">
                <div class="block-text">
                    <p class="block-text__name">-By Emma Anderson</p>
                    <h2 class="block-text__title">Emma Anderson<span> A room without books is like a body without a soul</span></h2>
                    <p>Opisanie book</p>
                    <p>Ochen intersniy book</p>
                    <a href="block-text__btn">Read fuul biography</a>
                </div>
                <div></div>
            </div>
            <div class="block-counter">
                <p><span>12</span>Total published books</p>
                <p><span>5</span>Happy readers</p>
                <p><span>15000</span>Happy readers</p>
            </div>
        </div>
    </div>
    <div class="page page_gray">
        <div class="wrap">
            <h2 class="page__title">Book Contents</h2>
            <p class="page__subtitle">Let`s see what we have covered in the book</p>
            <div class="block-about">
                <div>
                    <h3>About the book</h3>
                    <p>Lorem ipsum dolor sit amet,consectetur adipisicing elid</p>
                    <div>
                        <p>Featured in:</p>
                        <ul>
                            <li>
                                <a href=""></a>
                            </li>
                            <li>
                                <a href=""></a>
                            </li>
                            <li>
                                <a href=""></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div>
                    <h3>Table of contents</h3>
                    <ol>
                        <li> Lorem ipsum dolor sit amet</li>
                        <li> Lorem ipsum dolor sit amet</li>
                        <li> Lorem ipsum dolor sit amet</li>
                        <li> Lorem ipsum dolor sit amet</li>
                        <li> Lorem ipsum dolor sit amet</li>
                        <li> Lorem ipsum dolor sit amet</li>
                        <li> Lorem ipsum dolor sit amet</li>
                        <li> Lorem ipsum dolor sit amet</li>
                        <li> Lorem ipsum dolor sit amet</li>
                        <li> Lorem ipsum dolor sit amet</li>
                    </ol>
                    <button>More</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>